:root{
    --primary:#CCC;
}

body {
    font-family: sans-serif;
}

header {
    font-family: sans-serif;
}

#social-media-links {
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
}

a {
    font-family: sans-serif;

}
.header-img img {
    width: 100%;
}

.column.main {
    flex: 0 0 65%;
}
main.container{
    min-height: 58vh;
}
.hidden-on-desktop {
    display: none;
}



@media screen and (max-width: 600px) {
    main.container .row {
        flex-direction: column;
    }
    .hidden-on-desktop {
        text-align: center;
        display: block;
        padding-top: 10px;
    }
    .nav-links {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .nav-links.gap-20 {

    }
    li {
        background-color: var(--primary);
        padding: 15px 0;
    }
    h1.column {
        flex-direction: column;
        text-align: center;
    }
    header.container .row {
        flex-direction: column;
    }
    .btn{
        width: 100%;
        padding: 15px 0;
        background-color: #CBFFFF;
        border-color: var(--primary);
        border-style: solid;


    }
}
